:root {
    --first-color: #252525;
    --brite-color: #fff;
    --button-color: rgb(18, 18, 146);
    --wraper-background: rgb(105, 105, 160);
    --secondary-text: rgb(218, 181, 181);

}

html {
    box-sizing: border-box;
    font-size: 100%;
    
}

* {
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1140px;
    padding: 1em 2em;
}

.nav-bar {
    background-color: var(--first-color);
    color: var(--brite-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-text {
    color: var(--brite-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.links ul {
    display: flex;
    gap: 2em;
}

.links ul li{
    display: block;
}

.logo-pic {
    width: 2.5em;
    height: 2.5em;
}

.logo-pic:hover {
    border: 2px solid white;
    box-shadow: 0 0 4px 3px white;
    border-radius: 50%;
}


/* header section's codes */
.header {
    background-color: var(--first-color);
    color: var(--brite-color);
    display: flex;
    justify-content: center;
}


.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5em;
    margin: 2em;
}
.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

h1 {
    font-size: 26px;
}

.content-section button {
    display: block;
    align-self: flex-start;
    color: var(--brite-color);
    background-color: var(--button-color);
    width: 100px;
    height: 2.5em;
    border: none;
    border-radius: 1em;
    padding: 4px;
}

#hero-photo {
    border-radius: 20%;
    width: 250px;
    height: 250px;
}
/* header section's code */

/* first section's code */

.first-section {
    background-color: rgb(209, 194, 194);
    display: flex;
    justify-content: center;
}

.first-section .container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8em 2em;
}

.container .wraper {
    width: 90%;
    padding: 2em;
    background-color: var(--wraper-background);
    border-radius: 1em;
    display: flex;
    gap: 3em;
}

.first-content h3{
    margin-bottom: 0.5em;
    text-align: center;
    color: var(--brite-color);
}

.first-content p {
    color: var(--secondary-text);
    text-align: center;
}

.wraper button {
    align-self: center;
    background-color: var(--button-color);
    color: var(--brite-color);
    border: none;
    padding: 7px 1em;
    border-radius: 1em;
}

.wraper button:hover {
    box-shadow: 0 0 5px 2px blue;
}
/* first section's code */

@media (max-width: 680px) {

    /* header working find */
    .nav-bar .container {
        flex-direction: column;
    }

    .container .logo-text {
        color: rgb(247, 169, 26);
    }

    .links ul {
        margin-top: 1em;
        gap: 12em;
    }

    .links ul li {
        flex: 1 1 100%;
    }

    .content-section h1 {
        color: rgb(247, 169, 26);
    }

    #hero-photo {
        width: 200px;
        height: 200px;
    }

    .content-section button {
        margin: 2em auto;
    }

    .first-section .wraper {
        display: block;
    }

    .wraper button {
        display: block;
        margin: 5px auto 0;
    }
}

@media (max-width: 650px) {

    .links ul {
        gap: 5em;
    }
    .header .container {
        flex-direction: column;
    }

    .content-section {
        order: 1;
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 19px;
    }

    .content-section button {
        margin: 0 auto 2em;
    }

    #hero-photo{
        border-radius: 50%;
    }

    
}



